<%= content_for(:title, t('.title')) %>
<div>
  <div>
    <h1><%= t('.title') %></h1>
    <%= link_to "編集", edit_profile_path, class: "btn btn-primary" %>
    <table>
      <tr>
        <div class="avatar">
          <div class="w-24 rounded-full">
            <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
          </div>
        </div>
      </tr>
      <tr>
        <th><%= User.human_attribute_name(:nickname) %></th>
        <td><%= current_user.nickname %></td>
      </tr>
      <tr>
        <th><%= User.human_attribute_name(:prefecture_id) %></th>
        <td><%= current_user.prefecture.name %></td>
      </tr>
      <tr>
        <th><%= User.human_attribute_name(:age_group) %></th>
        <td><%= current_user.age_group %></td>
      </tr>
      <tr>
        <th><%= User.human_attribute_name(:email) %></th>
        <td><%= current_user.email %></td>
      </tr>
      <tr>
        <th><%= User.human_attribute_name(:avatar) %></th>
        <% if current_user.avatar.present? %>
          <td><%= image_tag current_user.avatar_url, class: "rouded-circle", size: '50x50' %></td>
        <% end %>
      </tr>
    </table>
    <div>
      <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "btn btn-primary" %>
    </div>
  </div>
</div>
