<%= content_for(:title, t('.title')) %>
<div class="w-5/6 mx-auto my-24 max-w-screen-xl">
  <h1 class="font-bold text-lg text-center mb-10"><%= current_user.nickname %>さんの<%= t('.title') %></h1>
  <div class="mb-4 mx-auto flex justify-evenly max-w-sm">
    <div class="avatar">
      <div class="w-24 rounded-full">
        <%= image_tag @user.avatar_url %>
      </div>
    </div>
    <div class="my-auto">
      <div class="font-bold text-3xl mb-2">
        <%= @user.nickname %>
      </div>
      <div class="flex justify-center">
        <div class="mr-4">
          <%= @user.prefecture.name %>
        </div>
        <div>
          <%= @user.age_group %>
        </div>
      </div>
    </div>
  </div>
  <div class="my-8 max-w-sm mx-auto">
    <div class="flex justify-between mb-8">
      <div>
        <%= link_to "いいね一覧", likes_posts_path, class: "btn btn-outline" %>
      </div>

      <div>
        <%= link_to "編集", edit_profile_path, class: "btn btn-outline" %>
      </div>

      <div>
        <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "btn btn-primary" %>
      </div>
    </div>
    <div>
    <p class="font-bold"><%= @user.nickname %>さんのサ飯：<%= @my_posts.count %>件</p>
  </div>
  </div>

  <div class="flex justify-center md:flex flex-wrap">
    <% if @my_posts.present? %>
      <%= render @my_posts %>
    <% else %>
      <p>投稿がありません</p>
    <% end %>
  </div>
  <div>
    <%= paginate @my_posts %>
  </div>
</div>
