<div class="mt-24 w-5/6 mx-auto max-w-screen-xl">
  <div class="">
    <h1 class=""><%= t('.title') %></h1>
    <div class= "">
      <%= form_with model: @user, local: true do |f| %>
        <%= f.label :nickname %>
        <%= f.text_field :nickname, placeholder: "ニックネーム（20文字以内）", class: "input input-bordered input-primary w-full max-w-xs" %>
        <%= f.label :prefecture_id %>
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, { include_blank: "選択してください" }, class: "input input-bordered input-primary w-full max-w-xs"  %>
        <%= f.label :age_group %>
        <%= f.select :age_group, options_for_select(User::age_groups, selected: @user.age_group), { include_blank: "選択してください" }, class: "input input-bordered input-primary w-full max-w-xs" %>
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: "メールアドレス", class: "input input-bordered input-primary w-full max-w-xs" %>
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "••••（4桁以上）", class: "input input-bordered input-primary w-full max-w-xs" %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, placeholder: "••••",class: "input input-bordered input-primary w-full max-w-xs" %>
        <span class="text-center">
          <%= f.file_field :current_icon, accept: "image/jpeg,image/gif,image/png", class: "input input-bordered input-primary w-full max-w-xs" %>
        </span>
        <div class="text-center">
          <%= f.submit t('helpers.submit.create'), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="text-center">
      <%= link_to t('.to_login_page'), login_path %> | <%= link_to t('.password_forget'), "#" %> 
    </div>
  </div>
</div>