<% content_for(:title, t('.title')) %>
<div class="my-28">
  <h1 class="font-bold text-lg text-center mb-10"><%= t('.title') %></h1>
  <div class="mx-auto md:max-w-4xl md:flex justify-center">
    <div class="md:w-1/2">
      <%= form_with model: @user, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="mb-4 max-w-xs mx-auto">
          <div>
            <%= f.label :nickname, class: "w-full" %>
          </div>
          <div>
            <%= f.text_field :nickname, placeholder: "ニックネーム (20文字以内)", class: "input input-bordered input-neutral w-full" %>
          </div>
        </div>
        <div class="flex justify-between mb-4 max-w-xs mx-auto">
          <div>
            <div>
              <%= f.label :prefecture_id, class: "w-full" %>
            </div>
            <div>
              <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, { include_blank: "未選択" }, class: "select select-bordered select-neutral max-w-1/2" %>
            </div>
          </div>
          <div>
            <div>
              <%= f.label :age_group, class: "w-full" %>
            </div>
            <div>
              <%= f.select :age_group, User.age_groups, { include_blank: "未選択" }, class: "select select-bordered select-neutral max-w-1/2" %>
            </div>
          </div>
        </div>
        <div class="mb-4 max-w-xs mx-auto">
          <div>
            <%= f.label :email, class: "w-full" %>
          </div>
          <div>
            <%= f.email_field :email, placeholder: "メールアドレス", class: "input input-bordered input-neutral w-full" %>
          </div>
        </div>
        <div class="mb-4 max-w-xs mx-auto">
          <div>
            <%= f.label :password, class: "w-full" %>
          </div>
          <div>
            <%= f.password_field :password, placeholder: "•••• (4桁以上)", class: "input input-bordered input-neutral w-full" %>
          </div>
        </div>
        <div class="mb-4 max-w-xs mx-auto">
          <div>
            <%= f.label :password_confirmation, class: "w-full" %>
          </div>
          <div>
            <%= f.password_field :password_confirmation, placeholder: "•••• (4桁以上)",class: "input input-bordered input-neutral w-full" %>
          </div>
        </div>
        <div class="mb-8 max-w-xs mx-auto">
          <div>
            <%= f.label :avatar, class: "w-full" %>
          </div>
          <div>
            <%= f.file_field :avatar, accept: "image/jpeg,image/gif,image/png", class: "file-input file-input-bordered file-input-neutral w-full" %>
          </div>
        </div>
        <div class="flex justify-center max-w-xs mx-auto">
          <div class="my-auto mr-2">
            <%= f.check_box :agreement, as: :boolean, checked:false, id: "agreement", class: "checkbox checkbox-info my-auto" %>
          </div>
          <div class="text-xs my-auto">
            <p>
              <%= link_to '利用規約', terms_of_use_path, class: "link link-info" %>
              と
              <%= link_to 'プライバシーポリシー', privacy_policy_path, class: "link link-info" %>
              に同意する
            </p>
          </div>
        </div>
        <div class="flex justify-center my-8">
          <%= f.submit t('helpers.submit.create'), class: "btn btn-neutral" %>
        </div>
      <% end %>
      <div class="text-xs text-center">
        <%= link_to t('.to_login_page'), login_path %> | <%= link_to t('.password_forget'), new_password_reset_path %> 
      </div>
    </div>
    <div class="hidden md:divider md:divider-horizontal">OR</div>
    <div class="md:w-1/2 md:my-auto">
      <div class="text-center">
        <%= link_to auth_at_provider_path(provider: :google), class: "btn bg-white m-4" do %>
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" viewBox="0 0 48 48" class="w-6 h-6"><path fill="#fbc02d" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12	s5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24s8.955,20,20,20	s20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path fill="#e53935" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039	l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path fill="#4caf50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36	c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path><path fill="#1565c0" d="M43.611,20.083L43.595,20L42,20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571	c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path></svg>Googleで新規登録
        <% end %>
      </div>
    </div>
  </div>
</div>