<%= search_form_for q, url: posts_path do |f| %>
  <div class="flex justify-between">
    <div class="w-full mr-4 md:flex justify-between">
      <div class="w-full mr-4 mb-4">
        <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, { include_blank: "都道府県" }, class: "select select-bordered select-neutral w-full" %>
      </div>
      <div class="w-full">
        <%= f.select :meal_genre_eq, Post.meal_genres, { include_blank: "ジャンル" }, class: "select select-bordered select-neutral w-full" %>
      </div>
    </div>
    <div class="w-full mr-4 md:flex justify-between">
      <div class="w-full mr-4 mb-4">
        <%= f.search_field :sauna_name_cont, placeholder: "サウナ施設", class: "input input-bordered input-neutral w-full" %>
      </div>
      <div class="w-full">
        <%= f.search_field :content_cont, placeholder: "フリーワード", class: "input input-bordered input-neutral w-full" %>
      </div>
    </div>
    <div class="my-auto">
      <%= button_tag type: "submit" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="m15.75 15.75-2.489-2.489m0 0a3.375 3.375 0 1 0-4.773-4.773 3.375 3.375 0 0 0 4.774 4.774ZM21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" /></svg>
      <% end %>
    </div>
  </div>
<% end %>
