<%= form_with model: post, id: 'new_post', local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="mb-4 max-w-xs mx-auto">
    <div>
      <%= f.label :post_image, class: "w-full" %>
    </div>
    <div>
      <%= f.file_field :post_image, class: "file-input file-input-bordered file-input-neutral w-full" %>
      <%= f.hidden_field :post_image_cache %>
    </div>
    <div>
      <div id="previews" class="mt-4"></div>
    </div>
  </div>
  <div class="mb-4 max-w-xs mx-auto">
    <div>
      <%= f.label :content, class: "w-full" %>
    </div>
    <div>
      <%= f.text_area :content, class: "textarea textarea-bordered textarea-neutral w-full", rows: 5 %>
    </div>
  </div>
  <div class="flex justify-between mb-4 max-w-xs mx-auto">
    <div>
      <div>
        <%= f.label :prefecture_id, class: "w-full" %>
      </div>
      <div>
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, { include_blank: "未選択" },  class: "select select-bordered select-neutral max-w-1/2" %>
      </div>
    </div>
    <div>
      <div>
        <%= f.label :meal_genre, class: "w-full" %>
      </div>
      <div>
        <%= f.select :meal_genre, Post.meal_genres, { include_blank: "未選択" },  class: "select select-bordered select-neutral max-w-1/2" %>
      </div>
    </div>
  </div>
  <div data-controller="autocomplete" data-autocomplete-url-value="/saunas/autocomplete" role="combobox" class="mb-8 max-w-xs mx-auto">
    <%= f.label :sauna, class: "w-full" %>
    <%= f.text_field :sauna_name, data: { autocomplete_target: "input" }, class: "input input-bordered input-neutral w-full max-w-xs" %>
    <ul class="list-group bg-white absolute w-full md:text-sm max-w-max" data-autocomplete-target="results"></ul>
  </div>
  <div class="mb-8 text-center">
    <%= f.submit class: "btn btn-neutral" %>
  </div>
</div>
<% end %>
