<%= form_with model: post, id: 'new_post', local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<div class="flex flex-col space-y-4 w-5/6 mx-auto max-w-screen-xl">
  <div class="mt-4">
    <!-- オートコンプリート入力フィールド -->
    <label for="sauna_search">サウナ施設</label>
    <input id="sauna_search" type="text" placeholder="サウナ施設を検索", class="input input-bordered w-full max-w-xs", autocomplete="off">
    <div id="sauna_search_results", class=""></div> <!-- 検索結果を表示するコンテナ -->
    <!--選択された施設のplace_idを保存するための隠しフィールド -->
    <%= f.hidden_field :sauna_id, id: "sauna_id" %>
  </div>
  <div class="">
    <%= f.label :prefecture_id %>
    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, { include_blank: "選択してください" },  class: "select select-bordered w-full max-w-xs" %>
  </div>
  <div class="">
    <%= f.label :meal_genre %>
    <%= f.select :meal_genre, Post.meal_genres, { include_blank: "選択してください" },  class: "select select-bordered w-full max-w-xs" %>
  </div>
  <div class="">
    <%= f.label :content %>
    <%= f.text_area :content, class: "textarea textarea-bordered w-full max-w-xs", rows: 5 %>
  </div>
  <div class="image-field">
    <div id="previews"></div>
    <div class="click-upload">
      <%= f.label :post_image %>
      <%= f.file_field :post_image, class: "file-input file-input-bordered w-full max-w-xs" %>
      <%= f.hidden_field :post_image_cache %>
    </div>
  </div>
  <div class="preview"></div>
  <div>
    <%= f.submit class: "btn btn-primary" %>
  </div>
</div>
<% end %>


<script>
document.addEventListener('DOMContentLoaded', function() {
  const searchInput = document.getElementById('sauna_search');

  searchInput.addEventListener('input', function() {
    const query = searchInput.value;

    if (query.length < 2) { // 最小文字数を設定
      return;
    }

    fetch(`/saunas/search?query=${encodeURIComponent(query)}`)
    .then(response => response.json())
    .then(data => {
      const resultsContainer = document.getElementById('sauna_search_results');
      resultsContainer.innerHTML = ''; // 既存の結果をクリア
      data.forEach(sauna => {
        const element = document.createElement('div');
        element.innerText = sauna.name; // ここで表示する内容をカスタマイズ
        element.onclick = function() {
          // 選択されたサウナのidをpostと紐づける
          document.getElementById('sauna_id').value = sauna.id;
          searchInput.value = sauna.name;
          resultsContainer.innerHTML = '';
        };
        resultsContainer.appendChild(element);
      });
    })
    .catch(error => console.error('Error:', error));
  });
});
</script>
