<%= form_with model: post, id: 'new_post', local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="mb-4 max-w-xs mx-auto">
    <div>
      <%= f.label :post_image, class: "w-full" %>
    </div>
    <div>
      <%= f.file_field :post_image, class: "file-input file-input-bordered file-input-neutral w-full", id: "input" %>
      <%= f.hidden_field :post_image_cache %>
    </div>

    <div class="mt-4">
        <%= image_tag post.post_image.url, id: "preview", class: "mx-auto" %>
    </div>
    
  </div>
  <div class="mb-4 max-w-xs mx-auto">
    <div>
      <%= f.label :content, class: "w-full" %>
    </div>
    <div>
      <%= f.text_area :content, class: "textarea textarea-bordered textarea-neutral w-full", rows: 5 %>
    </div>
  </div>
  <div class="flex justify-between mb-4 max-w-xs mx-auto">
    <div>
      <div>
        <%= f.label :prefecture_id, class: "w-full" %>
      </div>
      <div>
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, { include_blank: "未選択" },  class: "select select-bordered select-neutral max-w-1/2" %>
      </div>
    </div>
    <div>
      <div>
        <%= f.label :meal_genre, class: "w-full" %>
      </div>
      <div>
        <%= f.select :meal_genre, Post.meal_genres, { include_blank: "未選択" },  class: "select select-bordered select-neutral max-w-1/2" %>
      </div>
    </div>
  </div>

  <!-- サウナ施設、DBからのオートコンプリート -->
  <div data-controller="autocomplete" data-autocomplete-url-value="/saunas/autocomplete" role="combobox" class="mb-8 max-w-xs mx-auto">
    <div class="flex justify-start>"
    <%= f.label :sauna, class: "w-full" %><h3 class="text-xs my-auto ml-2 font-bold">※一致する候補から選択</h3>
    </div>
    <input type="text" data-autocomplete-target="input" class="input input-bordered input-neutral w-full"/>
    <%= f.hidden_field :sauna_id, data: { autocomplete_target: "hidden" } %>
    <ul class="list-group mt-4 text-xs" data-autocomplete-target="results"></ul>
  </div>

  <div class="mb-8 text-center">
    <%= f.submit class: "btn btn-neutral" %>
  </div>
</div>
<% end %>
