<%= form_with model: post, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <!-- オートコンプリート入力フィールド -->
    <label for="sauna_search">サウナ施設を検索</label>
    <input id="sauna_search" type="text" placeholder="サウナ施設を検索" autocomplete="off">
    <div id="sauna_search_results"></div> <!-- 検索結果を表示するコンテナ -->
    <!--選択された施設のplace_idを保存するための隠しフィールド -->
    <%= f.hidden_field :sauna_id, id: "sauna_id" %>
  </div>
  <div>
    <%= f.label :prefecture_id %>
    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, { include_blank: "選択してください" } %>
  </div>
  <div>
    <%= f.label :meal_genre %>
    <%= f.select :meal_genre, options_for_select(Post::meal_genres, selected: @post.meal_genre), { include_blank: "選択してください" } %>
  </div>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content, rows: 10 %>
  </div>
  <div>
  <%= f.label :post_image %>
  <%= f.file_field :post_image, accept: 'image/*', onchange: 'previewFileWithId(preview)' %>
  <%= f.hidden_field :post_image_cache %>
  </div>
  <div>
  # プレビュー画像を表示
  <%= image_tag post.post_image.url, id: 'preview', size: '300x200' %>
  </div>
  <div>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const searchInput = document.getElementById('sauna_search');

  searchInput.addEventListener('input', function() {
    const query = searchInput.value;

    if (query.length < 2) { // 最小文字数を設定
      return;
    }

    fetch(`/saunas/search?query=${encodeURIComponent(query)}`)
    .then(response => response.json())
    .then(data => {
      const resultsContainer = document.getElementById('sauna_search_results');
      resultsContainer.innerHTML = ''; // 既存の結果をクリア
      data.forEach(sauna => {
        const element = document.createElement('div');
        element.innerText = sauna.name; // ここで表示する内容をカスタマイズ
        element.onclick = function() {
          // 選択されたサウナのidをpostと紐づける
          document.getElementById('sauna_id').value = sauna.id;
          searchInput.value = sauna.name;
          resultsContainer.innerHTML = '';
        };
        resultsContainer.appendChild(element);
      });
    })
    .catch(error => console.error('Error:', error));
  });
});

function previewImage() {
  const target = event.target;
  const file = target.files[0];
  const reader = new FileReader();
  reader.onloadend = function() {
    const preview = document.querySelector("#preview")
    if(preview) {
      preview.src = reader.result;
    }
  }
  if(file) {
    reader.readAsDataURL(file);
  }
}
</script>
