<div class="card w-full m-auto shadow-xl max-w-xs hover:bg-base-200">
  <%= link_to post_path(post), data: { turbo: false } do %>
    <div class="flex justify-start">
      <div class="avatar m-4">
        <div class="w-12 rounded-full">
          <%= image_tag post.user.avatar_url %>
        </div>
      </div>
      <div class="my-auto">
        <%= post.user.nickname %>
      </div>
    </div>
    <figure class="mx-4 aspect-w-1 aspect-h-1">
      <%= image_tag post.post_image_url, class: "rounded-xl object-cover object-center" %>
    </figure>
  <% end %>
  <div class="flex justify-between">
    <div class="my-auto">
      <div class="m-4">
        <%= l post.created_at, format: :long %>
      </div>
    </div>
    <% if logged_in? %>
      <div class="m-4">
        <%= render 'posts/like_buttons', { post: post } %>
      </div>
    <% end %>
  </div>
</div>

