<%= link_to post_path(post) do %>
  <div class="card w-full shadow-xl mb-8">
    <div class="flex justify-start">
      <div class="avatar m-4">
        <div class="w-12 rounded-full">
          <%= image_tag post.user.avatar_url %>
        </div>
      </div>
      <div class="my-auto">
        <%= post.user.nickname %>
      </div>
    </div>
    <figure class="px-4">
      <%= image_tag post.post_image_url, size: '300x200', class: "rounded-xl" %>
    </figure>
    <div class="flex justify-between">
      <div class="my-auto">
        <div class="m-4">
          <%= l post.created_at, format: :long %>
        </div>
      </div>
      <div class="m-4">
        <% if current_user %>
          <%= render 'like_buttons', { post: post } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
