<% content_for(:title, t('.title')) %>
<div class="my-28 w-5/6 mx-auto max-w-screen-xl">
  <div><input id="pac-input" class="controls" type="text" placeholder="場所を検索"></div>
  <div id="map" style="height: 510px;"></div>
</div>

<!-- モーダルを表示する要素 -->
<dialog id="sauna_modal" class="modal">
  <div class="modal-box">
    <div class="sauna_show"></div>
  </div>
</dialog>

<script>
  // 地図を初期化
  function initMap() {
    // 地図要素を取得する（マーカーを表示させるために必要）
    const mapElement = document.getElementById('map');
    // 地図のオプション（デフォルト位置：東京）
    const defaultMapOptions = {
      center: { lat: 35.6803997, lng: 139.7690174 },
      zoom: 12
    };
    // 指定した要素・オプションで地図を表示
    const displayMap = (mapOptions) => {
      const map = new google.maps.Map(mapElement, mapOptions);

      const input = document.getElementById('pac-input');
      const searchBox = new google.maps.places.SearchBox(input);
      map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

      // 検索結果をマップにビューバインド
      map.addListener('bounds_changed', function() {
        searchBox.setBounds(map.getBounds());
      });

      // 検索結果に対してリスナーを設定
      searchBox.addListener('places_changed', function() {
        const places = searchBox.getPlaces();

        if (places.length === 0) {
          return;
        }

        const bounds = new google.maps.LatLngBounds();

        places.forEach(function(place) {
          if (!place.geometry || !place.geometry.location) {
            console.log("Returned place contains no geometry");
            return;
          }

          // 中心地を設定し、マップをその地点に移動
          if (place.geometry.viewport) {
            bounds.union(place.geometry.viewport);
          } else {
            bounds.extend(place.geometry.location);
          }
        });

        map.fitBounds(bounds);
        map.setZoom(12);
      });

      // マーカーを追加（Postの情報からマーカーを追加する）
      <% @saunas.each do |sauna| %>
        (() => {
          // 繰り返しの時はconstではなくletで定義
          let marker = new google.maps.Marker({
            position: {lat: <%= sauna.latitude %>, lng: <%= sauna.longitude %>}, 
            map: map,
            title: '<%= j sauna.name %>'
          });

          // マーカーをクリックするとサウナ詳細に遷移
          marker.addListener('click', function() {
            const modalContent = `
              <div class="mx-auto flex justify-start">
                <div class="mr-4">
                  <%= image_tag 'sameshi_logo.svg', width: 120 %>
                </div>
                <div class="m-auto w-full text-center">
                  <div class="border-dotted border-b-2 border-info">
                    <p class="text-lg font-bold pb-2"><%= j sauna.name %></p>
                  </div>
                  <div class="mt-2 text-center">
                    <% if sauna.posts.present? %>
                      <div>
                        <p>サ飯投稿数：<%= sauna.posts.count %></p>
                      </div>
                    <% else %>
                      <div>
                        <p>まだサ飯がないよ！</p>
                        <p>お気に入りのサ飯を教えてね！</p>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
                  <div class="mt-4 text-center">
                    <%= link_to "詳細", sauna_path(sauna), data: { turbo: false }, class: "btn btn-neutral" %>
                  </div>
            `;

            document.querySelector('.sauna_show').innerHTML = modalContent;
            sauna_modal.showModal();
          });
        })();
      <% end %>
    };

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        // 現在の緯度経度を取得
        const currentLocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        // 地図のオプションを現在地に設定して地図を表示
        displayMap({ ...defaultMapOptions, center: currentLocation });
      }, function() {
        // 現在地が取得できない場合もデフォルトの地図を表示
        displayMap(defaultMapOptions);
      });
      } else {
        // Geolocation APIが利用不可能な場合もデフォルトの地図を表示
        displayMap(defaultMapOptions);
      }
    }

  // 画面のどこを押してもモーダルを閉じる
  document.addEventListener('click', function(event) {
    const modal = document.getElementById('sauna_modal');
    if (event.target === modal) {
      modal.close();
    }
  });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&libraries=places&callback=initMap"></script>
