<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="z-0">
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
